@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f0f0f0; /* Light gray background */
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer/Edge */
}

/* Hide scrollbar for WebKit/Blink based browsers */
::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  .responsive-hide {
    display: none;
  }
}
